.rx_page_container{
  display: flex;
  flex-flow: column;
  flex:1;
  height: 100%;
  width: 100%;
}

.rx_page_body{
  background-color: #F5F7FA;
  flex:1;
}

.rx-page-header-responsive{
  background-color: #fff;
}